torch==1.10.0+cu113
torchvision==0.11.1+cu113
detectron2==0.6
numpy==1.21.0
opencv-python==4.5.3
fastapi
uvicorn
torch
opencv-python
detectron2
zipfile36
requests
shapely
pyclipper
scikit-image
albumentations
lmdb
python-docx
bs4
scipy
reportlab